header{
    text-align: center;
    font-style: oblique;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}
body{
    background-color: rgb(24, 36, 211);
}
#formulario{
    font-style: italic;
    background: white;
    width: 500px;
    padding: 50px;
    text-align: left;
    border-radius: 20px 20px 20px 20px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(2, 2, 2, 0.658);
}
#TextoIntrodutorio{
    text-align: center;
    position: relative;
    bottom: 29px;
}
#NomeCompleto{
    position: relative;
    left: 100px;
}
#DataNascimento{
    position: relative;
    left: 77px;
}
#Endereco{
    position: relative;
    left: 145px;
}
#CEP{
    position: relative;
    left: 175px;
}
#Email{
    position: relative;
    left: 161px;
}
#NomeUsuario{
    position: relative;
    left: 159px;
}
#Senha{
    position: relative;
    left: 165px;
}
#RealizarCadastro{
    position: relative;
    left: 380px;
    top: 30px;
}
